.brand-image{
  height: 50px;
  width: auto;
  margin: 0
}
#maincontent {
  padding-top: 150px;
}

.name {
  font-size: 30px !important;
  position: relative;
  margin-top: -2%;
  margin-bottom: 0;
}

.text-label {
  position: relative;
  background: transparent;
  margin-top: 20px;
  padding: 10px;
  width: auto;
  border-top: 60px solid white;
	border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.navbar-custom {
  background: #00a2ed;
}

#orange {
  color: #f07c01;
}

.row-custom {
  margin: 0;
}

.star-light {
  border-color: #ef7c01 !important;
}

.skills {
  font-size: 20px !important;
}

section.success {
  background-color: #00a2ed;
}

.blue {
  background-color: #00a2ed !important;
}

.white {
  background-color: #ffffff !important;
}

header {
  background-color: #fff;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control {
  color: #f07c0c;
  opacity: 1;
}

.slide-img {
  margin: 0px;
  padding: 0px;
  width: 70%;
  margin-left: 40px;
}

#mainNav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item {
  padding-left: 0;
  padding-right: 0;
}

.slider-img{
  height: 600px !important;
  width: 100% !important;
  margin: 0 !important;
}

video {
  height: auto !important;
}
.embed-responsive-16by9 {
  padding-bottom: 20% !important;
}
